h1{
    background-color: brown;
    display: inline;
    width: 100px;
    height: 100px;
}
a{
    height: 200px;
    width: 200px;
    /* display: block; */
    display: inline-block;
    background-color: lightcoral;
}

.container{
    background-color: brown;
    height: max-content;
    /* display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:  space-between ;
    justify-content:  space-evenly ;
    justify-content:  space-around ;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid-template-rows: 200px 300px 250px; */
    column-gap: 10px;
    row-gap: 30px;
    justify-items: center ;
    /* align-items: space-evenly; */
}
.container p{
    background-color: black;
    color: wheat;
    width: 100px;
    height: 200px;
}
